  <head>
    <title>Comedians List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  </head>

  <body class="parallax">
    <div class="jumbotron">
    	<div class="container">
        <blockquote class="blockquote text-center">
          <h1 class="display-2">Comedians List</h1>
          <p class="mb-0">“I hate Twitter. It’s like a state surveillance agency staffed by gullible volunteers.”</p>
          <footer class="blockquote-footer">Stewart Lee in <cite title="Source Title">Comedy Vehicle</cite></footer>
        </blockquote>
    	</div>
    </div>
    <div class="container">
      <div class="row">
        <% @comedians.each do |comedian| %>
        <div class="col-sm-4">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <div id="comedian-<%= comedian.id %>" class="card-title"><h5><%= comedian.name %></h5></div>
              <p class="card-text">
                Age: <%= comedian.age %><br>
                Birthplace: <%= comedian.city %>
                <% comedian.specials.each do |special| %>
                  <p class="comic-card-special-title"><%= special.title %></p>
                <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
