  <head>
    <title>Comedians List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  </head>
  <body class="parallax">
    <div class="jumbotron">
    	<div class="container">
        <blockquote class="blockquote text-center">
          <h1 class="display-2">Comedians List</h1>
          <p class="mb-0">“I hate Twitter. It’s like a state surveillance agency staffed by gullible volunteers.”</p>
          <footer class="blockquote-footer">Stewart Lee in <cite title="Source Title">Comedy Vehicle</cite></footer>
        </blockquote>
    	</div>
    </div>

    <section class="statistics" id="statistics">
      <h1>Statistics</h1>
      <article class="three-stats">
        <img src="https://bit.ly/2Sh71fs">
        <h5>Average Age:</h5>
        <p><%= Comedian.average_age %></p>
      </article>
      <article class="three-stats">
        <img src="https://bit.ly/2BJjOlr">
        <h5>Average Special Length:</h5>
        <p><%= Special.average_runtime %></p>
      </article>
      <article class="three-stats">
        <img src="https://bit.ly/2zyhJY5">
        <h5>Cities:</h5>
        <p>
          <% cities = [] %>
          <% @comedians.each do |comedian| %>
            <% cities << comedian.city %>
          <% end %>
          <% 3.times do %>
           <%= cities.shuffle!.shift %>
          <% end %>
        </p>
      </article>
    </section>

    <div class="container">
      <div class="row">
        <% @comedians.each do |comedian| %>
        <div class="col-sm-4 d-flex">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <div id="comedian-<%= comedian.id %>" class="card-title"><h5><%= comedian.name %></h5></div>
              <p class="card-text">
                Age: <%= comedian.age %><br>
                Birthplace: <%= comedian.city %>
                <% comedian.specials.each do |special| %>
                  <p id="comic-special-<%= special.id %>" class="special-title">
                    <img src=<%= special.image %> width="20%" align="left"/><br>
                    <%= special.title %><br>
                    Runtime: <%= special.runtime %> min
                  </p>
                <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
